

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body>
<div class="container">

<h1>{{ object.name }}</h1>
    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
         <tr>
            <td><p>manfacturer</p></td>
            <td><p>{{ object.manfacture }}</p>
            </td>
        </tr>
        <tr>
            <td><p>description</p></td>
            <td><p>{{ object.description }}</p></td>
        </tr>
         <tr>
            <td><p>price</p></td>
            <td><p>{{ object.price }}</p></td>
        </tr>
        </tbody>
</body>
</html>


